<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Player 2</title>
    </head>
    <body>
        <h1>Player 2</h1>
        <form action="/results" method="post">
            <label for="player2name">Enter Your Name:</label>
            <input type="text" name="player2name">
            <select name="player2action">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
