<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Player 1</title>
    </head>
    <body>
        <h1>Player 1</h1>
        <form action="/player2" method="post">
            <label for="player1name">Enter Your Name:</label>
            <input type="text" name="player1name">
            <label for="action">Enter Your Fist Slammer:</label>
            <select name="player1action">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select>
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
