body {
    background-image: url("http://theinspirationroom.com/daily/commercials/2016/3/android_rock_paper_scissors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-shadow: 5px 7px red;
}

.container {
    text-align: center;
}

.btn {
    background-color: pink;
}
